body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.titleContent {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.title {
    display: table;
    margin: 0;
    padding: 0;
    background: #1976d2;
    width: 100%;
    height: 60px;
}

.titleText {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.titleTextout {
    transition: all 0.2s;
    transform: scale(1);
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.titleTextin {
    transition: all 0.2s;
    transform: scale(1.1);
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

label.norTex {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

label.norTexIn {
    transition: all 0.2s;
    transform: scale(1.1);
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

label.norTexOut {
    transition: all 0.2s;
    transform: scale(1);
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

table.basic {
    border-width: 1px;
    border-collapse: separate;
    border-color: #FF5252;
    border-style: solid;
    float: right;
    position: relative;
    align-content: flex-start;
}