
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    background-image: url('../assets/common_bg.png');
}


.titleBar {
    box-shadow: 0 0.05rem 0.1rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
    background-color: #1976D2;
    height: 3rem;
    align-content: center;
    float: top;
    width: 100%;
    position: fixed;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
    z-index: 9999;
}

.titleBar:hover {
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.24), 0 0.85rem 2.5rem 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

.titleBar::after {
    clear: bottom;
}

.titleText {
    color: #ffffff;
    text-align: center;
    line-height: 3rem;
    margin: 0;
    padding: 0;
}

.sideBar {
    background: white;
    box-shadow: 0 0 0.01rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
    margin-top: 3rem;
    list-style-type: none;
    border-right: 0.01rem #eeeeee solid;
    width: 16rem;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    position: fixed;
}

.sideBar li {
    padding: 0.25rem;
    border-top: 0.05rem #eeeeee solid;
    line-height: 3rem;
    text-align: center;
    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
}

.sideBar a {
    text-decoration: none;
    color: black;
    width: 100%;
    line-height: 3rem;
    display: block;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 200ms;

}

.sideBar a:hover {
    background: #eeeeee;
    box-sizing: border-box;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.02);
    transition: 200ms;
}

.sideBar a:hover:active {
    background: #cdcdcd;
    box-sizing: border-box;
    transition: 200ms;
}

.sideBar a.active {
    border-radius: 0.25rem;
    background: #26c6da;
    color: white;
    transition: 200ms;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
}

.sideBar a.active:active {
    border-radius: 0.25rem;
    background: #15b5c9;
    color: white;
    transition: 200ms;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
}

.footer {
    position: fixed;
    text-align: center;
    float: bottom;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 2.5rem;
    z-index: -1;
    background: #eeeeee99;
    margin-left: 16rem;
}

main {
    height: 100%;
    width: 100%;
    display: block;
}

.container {
    height: fit-content;
    margin-top: 3rem;
    margin-left: 16rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

.verticalCenter {
    align-items: center;
}

.card {
    background: white;
    border: 0.05rem solid #eeeeee;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    width: 30rem;
    height: 20rem;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.card-wide {
    background: white;
    border: 0.05rem solid #eeeeee;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    transition: 200ms;
}

.card-wide::after, .boxRight::after {
    clear: both;
}

textarea {
    min-height: 2rem;
    max-height: 6rem;
}

div.textarea {
    width: 100%;
    min-height: 2rem;
    max-height: 6rem;
    outline: 0;
    border: 0.05rem solid #ccc;
    border-radius: 0.2rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
}

div.textarea:focus {

    border: 0.05rem solid #1976D2AA;
    box-shadow: 0 0 0.01rem 0.01rem rgba(25, 118, 210, 0.5);
    border-radius: 0.2rem;

}

input[type=text].full, select, textarea.full {
    width: 100%;
    height: 2rem;
    padding: 0.15rem 0.15rem;
    display: inline-block;
    border: 0.05rem solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
}


input[type=text].half, select, textarea.half {
    width: 50%;
    height: 2rem;
    padding: 0.15rem 0.15rem;
    display: inline-block;
    border: 0.05rem solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

form.full-wide {
    width: 100%;
}

form.half-wide {
    width: 50%;
}

select {
    width: 100%;
    height: 2rem;
    padding: 0.15rem 0.15rem;
    display: inline-block;
    border: 0.05rem solid #ccc;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
}

.full {
    width: 100%;
    height: 2rem;
    padding: 0.15rem 0.15rem;
    display: inline-block;
    border: 0.05rem solid #ccc;
    border-radius: 0.2rem;
    align-items: center;
    margin-top: 0.5rem;
}

button, .button {
    background-color: #FF5722;
    backface-visibility: hidden;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 0.05rem 0.1rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

.button-large {
    width: 10rem;
    height: 3rem;
}

.button-middle {
    width: 8rem;
    height: 2.5rem;
}

button:hover, .button:hover {
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.24), 0 0.85rem 2.5rem 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

button:active, .button:active {
    background-color: #ee4611;
    transition: 0.2s;
    border: none;
}

ol.u {
    list-style-type: none;
}

.boxRight {
    float: left;
    text-align: center;
    padding: 0.5rem;
    flex: fit-content;
}

.image-middle {
    width: 10rem;
    height: auto;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.table-full {
    width: 100%;
    border: 0.05rem solid #dddddd;
    border-radius: 0.15rem;
    margin: 0;
    padding: 0;
}

.table-row-full{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: 1.5rem;*/
    border-right: 0;
    border-bottom: 0.05rem solid #dddddd;
}
.table-full > .table-row-full:nth-child(odd){
    background: #f6f6f6;
}

.table-full > .table-row-full:first-child{
    background: #bbdefb;
}

.table-full > .table-row-full:last-child{
    /*background: #ee4611;*/
    border: none;
}

.table-cell-full{
    word-break: break-all;
    table-layout: fixed;
    display: table-cell;
    /*height: 1.5rem;*/
    border-right: 0.05rem solid #dddddd;
    text-align: center;
}
.table-row-full > .table-cell-full:nth-child(2n+1){
    /*background: #1976D2;*/
}

@media only screen and (max-width: 800px) {
    .sideBar {
        width: 30%;
        height: 100%;
    }

    .footer, .container {
        width: 70%;
        margin-left: 30%;
    }

    .card {
        width: 90%;
        transition: 200ms;
    }
}

